<article>  
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />      
    </div>
    <div>
      <label for="post-text">Post</label>
      <textarea id="post-text" name="post-text">{{post.content}}</textarea>
    </div>
    <button type="submit">Save Changes</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>