{{> post-details post1}}

{{#if logged_in}}
<form class="comment-form">
  <div class="form-textarea"> 
    <textarea name="comment-body" id="comment-body"></textarea>
  </div>

  <div class="btn">
    <button type="submit">add comment</button>    
  </div>
</form>
{{/if}}

{{> comments post1.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}